@font-face {
  font-family: 'spark';
  src: url('./fonts/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    color:black;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #D4C6B2 0%,
     #cfc2ae 20%,
    #C6B79F 40%,
        #8f8472 45%,
        #544e44 48%,
        #fe0000 49%,
    #ff0000 50%,

    #000000 100%
  );
}
.spark{
  color:white;
  font-family: 'spark', sans-serif;
}